In [43]:
import pandas as pd
df = pd.read_csv('nflfinalfinals.csv')

In [73]:
df.head()

,Team,Total,DemAsian,DemBlack,DemHispanic,DemOther,DemWhite,DemTotal,IndAsian,IndBlack,...,RepHispanic,RepOther,RepWhite,RepTotal,GOPPerc,DemPerc,IndPerc,WhitePerc,NonwhitePerc,Unnamed: 25
0,NaN,Arizona Cardinals,148,2,7,7,3,20,39,4,...,1,5,2,30,38,0.26,0.26,0.48,0.68,0.32
1,NaN,Atlanta Falcons,188,3,27,5,1,23,59,3,...,7,2,3,41,54,0.29,0.31,0.40,0.57,0.43
2,NaN,Baltimore Ravens,150,5,14,3,4,30,56,3,...,1,1,1,26,29,0.19,0.37,0.43,0.68,0.32
3,NaN,Buffalo Bills,92,2,3,1,1,15,22,7,...,3,4,0,16,24,0.26,0.24,0.50,0.67,0.33
4,NaN,Carolina Panthers,164,4,16,3,2,26,51,3,...,0,1,1,44,49,0.30,0.31,0.39,0.70,0.30

In [45]:
import matplotlib.pyplot as plt
%matplotlib inline
from mpl_toolkits.axes_grid.axislines import Subplot
from matplotlib.ticker import FuncFormatter

In [66]:
data_frame = df[df.DemAsian !=6364]

In [67]:
data_frame.DemTotal.mean()

40.375

In [68]:
data_frame.RepTotal.mean()

43.125

In [69]:
data_frame.IndTotal.mean()

59.59375

In [70]:
data_frame.DemTotal.quantile([0.01, 0.25, 0.50, 0.75, 0.90])

0.01     9.48
0.25    23.75
0.50    32.00
0.75    60.25
0.90    67.80
Name: DemTotal, dtype: float64

In [71]:
data_frame.RepTotal.quantile([0.01, 0.25, 0.50, 0.75, 0.90])

0.01    13.24
0.25    27.75
0.50    34.00
0.75    46.50
0.90    83.50
Name: RepTotal, dtype: float64

In [72]:
data_frame.IndTotal.quantile([0.01, 0.25, 0.50, 0.75, 0.90])

0.01     15.41
0.25     39.00
0.50     46.50
0.75     75.00
0.90    100.00
Name: IndTotal, dtype: float64